<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    NHS.UK Alpha
  </title>

  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/e3854e97-b35c-4f31-bf5d-f804408f2ef8.css"/>
  <link href="/stylesheets/nhsuk.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/widget.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/javascripts/react.js"></script>
  <script src="/javascripts/react-dom.js"></script>
  <script src="/javascripts/jquery-2.2.0.js"></script>
  <script src="/javascripts/components.js"></script>

  <!--[if lt IE 9]>
    <script src="/javascripts/vendor/html5shiv.js" type="text/javascript"></script>
    <script src="/javascripts/vendor/html5shiv-printshiv.js" type="text/javascript"></script>
  <![endif]-->

</head>
<body>

<div id="skiplink-container">
  <div>
    <a href="#content">Skip to main content</a>
  </div>
</div>

<div id="global-cookies-banner" role="alert">
  <p>
    NHS.UK uses cookies to make the site simpler.
    <a href="/help/cookies">Find out more about cookies</a>
  </p>
</div>

<header role="banner" id="global-header">
  <div class="header-container">
    <a href="/" class="header-logo" title="Go to the NHS.UK homepage">
      <img src="/images/nhs-logotype.svg" alt="NHS" width="90" height="36">
    </a>
  </div>
</header>

<div class="phase-banner">
  <p>
    <b>This is a new service.</b> We're still working on it. Send feedback to
    <a href="mailto:alphafeedback@digital.nhs.uk">alphafeedback@digital.nhs.uk</a>
    to help us improve it. The live service is <a href="http://www.nhs.uk">NHS.UK.</a>
  </p>
</div>

<main id="content" role="main">
poop
</main>


<footer id="global-footer" role="contentinfo">
  <div class="footer-container">
    <nav>
      <ul>
        <li><a href="/help/cookies">Cookies</a></li>
        <li><a href="/help/clinical-assurance">Clinical assurance</a></li>
      </ul>
    </nav>

    <p>
      &copy; Crown copyright<br>
      Content available under <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0.</a>
    </p>
  </div>
</footer>

<script src="/javascripts/lookup.js"></script>
<script src="/javascripts/cookies.js"></script>

</body>
</html>
